.header {
  padding: 10px 0;
  background-color: #222;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 22px;
}

.header .title {
margin-left: 10px;
}

.search {
  margin-top: 20px;
  text-align: center;
}

.search .search-btn {
  margin-left: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #1db954;
  color: white;
  border-radius: 20px;
  font-size: 16px;
}

.search label {
  margin-right: 20px
}

.content {
  padding: 15px;
  display: flex;
}

.content ul {
  padding: 0;
}

.results { 
  margin-right: 200px;
}

ul > li{
  list-style-type: none;
  margin-top: 20px;
}

.artist > .artist-name {
  margin: 0px 10px;
}

.results .artist > .artist-name {
  cursor: pointer;  
}

.artist > .artist-popularity {
  padding:5px;
  border-radius: 5px;
  background: gray;
  color: white;
}

.artist > img {
  height: 52px;
  width: 52px;
}

.artist .image-placeholder {
  height: 52px;
  width: 52px;
  display: inline-block;
  text-align: center;
  border: 1px solid lightgray;
  vertical-align: middle;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #222;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 12px;
}